* { 
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

body { 
    background: var(--color-bg)
}

a { 
    color: unset;
    text-decoration: none;
}

.gradient_bg 
{

    /* ff 3.6+ */
    background:-moz-radial-gradient(circle at 13% 15%, #344966 0%, #0D1821 100%);

    /* safari 5.1+,chrome 10+ */
    background:-webkit-radial-gradient(circle at 13% 15%, #344966 0%, #0D1821 100%);

    /* opera 11.10+ */
    background:-o-radial-gradient(circle at 13% 15%, #344966 0%, #0D1821 100%);

    /* ie 10+ */
    background:-ms-radial-gradient(circle at 13% 15%, #344966 0%, #0D1821 100%);

    /* global 92%+ browsers support */
    background:radial-gradient(circle at 13% 15%, #344966 0%, #0D1821 100%);

}

.gradient_text { 
background:var(--gradient-text);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}

.section_padding { 
    padding: 4rem 2rem 0 2rem;
}

.section_margin { 
    margin: 4rem 6rem;
}


/* Animations */
.scale-up-center {
	-webkit-animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

 @-webkit-keyframes scale-up-center {
    0% {
      -webkit-transform: scale(0.5);
              transform: scale(0.5);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }
  @keyframes scale-up-center {
    0% {
      -webkit-transform: scale(0.5);
              transform: scale(0.5);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }

  .slide-right {
	-webkit-animation: slide-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

 @-webkit-keyframes slide-right {
    0% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
    100% {
      -webkit-transform: translateX(100px);
              transform: translateX(100px);
    }
  }
  @keyframes slide-right {
    0% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
    100% {
      -webkit-transform: translateX(100px);
              transform: translateX(100px);
    }
  }
  

/* Responsiveness */

  @media screen and (max-with: 700px) {
    .section_padding {
        padding: 4rem;
    }
    .section_margin {
        margin: 4rem;
    }

  }

  @media screen and (max-with: 550px) {
    .section_padding {
        padding: 4rem 2rem;
    }
    .section_margin {
        margin: 4rem 2rem;
    }

  }
  