@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

:root {
  --font-family: 'Manrope', sans-serif;

  --gradient-text: linear-gradient(45deg, goldenrod, white );
  --gradient-bar: linear-gradient(45deg, goldenrod, white);
  
  --color-bg: #0D1821;
  --color-footer: darkgoldenrod;
  --color-blog: #042c54;
  --color-text: white;
  --color-subtext: #042c54;
}