@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

:root {
  --font-family: 'Manrope', sans-serif;

  --gradient-text: linear-gradient(45deg, #ace4aa, white );
  --gradient-bar: linear-gradient(45deg, #E6AACE, #0D1821);
  
  --color-bg: #0D1821;
  --color-footer: #ace4aa;
  --color-blog: #042c54;
  --color-text: white;
  --color-subtext: #E6AACE;
}